.banner2{
    position: relative;
}
.banner2 p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #FFFFFF;
    line-height: 60px;
    letter-spacing:8px
}
.main .contentBox{
    padding: 55px 0;
}
.main .contentBox .jwInfo{
    width: 60%;
    height: 410px;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(249,251,254,1);
}
.titleLeft>p{
    margin-bottom: 10px;
}
.titleLeft .titleEn{
    font-size: 18px;
    color: #E0E0E0;
}
.titleLeft .titleZh{
    font-size: 24px;
    color: #333333;
}
.titleLeft .titleLine{
    width: 20px;
    height: 4px;
    background-color: blue;
}
.main .contentBox .jwInfo .infoText{
    width: 50%;
    text-indent: 2em;
    font-size: 12px;
    color:#333;
    margin-left: 14%;
    line-height: 20px;
}
.mobileImg{
    display: none;
}
.main .contentBox .jwVideo{
    width: 46%;
    position: absolute;
    top:50%;
    right:0;
    z-index: 10;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.gongXian{
    padding: 20px 0;
    margin-top: 50px;
    background-color: #186eff;
}
.titleCenter>p{
    text-align: center;
    margin-bottom: 5px;
}
.titleCenter .titleEn{
    font-size: 18px;
    color: #5a94f8;
}
.titleCenter .titleZh{
    font-size: 24px;
    color: #fff;
}
.titleCenter .titleLine{
    width: 20px;
    height: 4px;
    margin:0 auto 10px auto;
    background-color: #fff;
}
.gongXianList{
    margin-top: 40px;
}
.gongXianList ul li{
    float:left;
    width: 33.3%;
    margin-bottom: 30px;
}
.gongXianList ul li .listItem{
    width: 180px;
    height: 180px;
    padding: 6%;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border:1px solid #19a3bf;
}
.gongXianList ul li:first-child+li .listItem{
    margin: 0 auto;
}
.gongXianList ul li:first-child+li+li .listItem{
    float:right;
}
.gongXianList ul li:first-child+li+li+li .listItem{
    float:left;
}
.gongXianList ul li:first-child+li+li+li+li .listItem{
    margin: 0 auto;
}
.gongXianList ul li:first-child+li+li+li+li+li .listItem{
    float:right;
}
.gongXianList ul li .listItem p{
    color:#fff;
    margin-bottom: 10px;
}
.gongXianList ul li .listItem p img{
    height: 60px;
    margin: 0 auto;
}
.gongXianList ul li .listItem p:first-child+p{
    font-size: 14px;
}
.gongXianList ul li .listItem p:first-child+p+p{
    font-size: 20px;
    font-weight: bold;
}
.gongXianList ul li .listItem:hover{
    border:1px solid #ea9901;
    background-color: #ea9901;
}
.gongXianList ul li .listItem:hover p{
    color:#333;
}
@media only screen and (max-width: 1280px) {
    .banner2 p {
        font-size: 22px;
        letter-spacing: 4px;
    }
    .main .contentBox{
        padding: 55px 15px;
        box-sizing: border-box;
    }
    .main .contentBox .jwInfo .infoText{
        width: 70%;
        margin-left: 10%;
    }
    .main .contentBox .jwVideo{
        right: 15px;
    }
    .gongXian{
        padding: 20px 15px;
    }
    .gongXianList ul li .listItem{
        width: 160px;
        height: 160px;
    }
    .gongXianList ul li .listItem p img{
        height:50px;
    }
}

@media only screen and (max-width: 768px) {
    .banner2 p {
        font-size: 18px;
        letter-spacing: 3px;
    }
    .main .contentBox{
        padding: 55px 15px;
        box-sizing: border-box;
    }
    .main .contentBox .jwInfo{
        width: 100%;
        height: auto;
    }
    .main .contentBox .jwInfo .infoText{
        width: 100%;
        margin:30px 0 0 0;
    }
    .jwVideo{
        display: none;
    }
    .mobileImg{
        width: 90%;
        display: block;
        margin: 20px auto;
    }
    .gongXian{
        margin-top: 0;
    }
    .gongXianList ul li{
        width: 50%;
        margin-bottom: 20px;
    }
    .gongXianList ul li .listItem{
        float: none !important;
        margin: 0 auto;
        width: 90%;
        height: auto;
        padding: 10%;
    }
    .gongXianList ul li .listItem p img{
        height:40px;
    }
    .gongXianList ul li .listItem p:first-child+p+p{
        font-size: 18px;
    }
}
@media only screen and (max-width: 480px) {
    .banner2 p {
        font-size: 12px;
        letter-spacing: 0px;
    }
}