

.pageParent {
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px 0 30px 0;
}

.x-pages-f{
    /*width:70%;*/
    width:100%;
    text-align:center;
}

.selPa{
    /*width:30%;*/
    padding:3px 10px 3px 20px;
    text-align:left;
    position: absolute;
    right:0;
    top: 10px;
}

.w-select{
    padding: 3px 5px;
    outline:none;
}
.button:hover{
    cursor:pointer;
    background-color:#EEEEEE;
}
.button {
    text-align: center;
    color: #000000a1;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;
    position: relative;
    overflow: hidden;
    outline: none;
    border: 1px solid #E6E6E6;
    background-color: #fff;
    margin-right: 15px;
    font-size: 13px;
}
.imsury {
    border: 1px solid #176EFF;
    margin: 0 10px 0 5px;
    background: #176EFF;
    color:#fff;
}
.imsury:hover {
    border: 1px solid #176EFF;
    margin: 0 10px 0 5px;
    background: #176EFF;
    color:#fff;
}

.jumps {
    width: 40px;
    height: 28px;
    padding: 1px 3px;
    margin: 0 5px;
    outline: none;
    border: 1px solid #E6E6E6;
}

.button.active {
    color: #fff;
    border: 1px solid #176EFF;
    background: #176EFF;
}

@media (max-width: 480px) {
    .button{
        margin-right: 5px;
        font-size: 12px;
        padding: 0 10px;
    }
}




