body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea {font-size: 14px;}
*{ padding:0px; margin:0px;}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul{ list-style:none; margin:0; padding:0;}
a{color:#333;text-decoration:none;}
a:hover { text-decoration:none;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; cursor: pointer;}
table { border-collapse:collapse; border-spacing:0; }
/*解决IE不支持H5标签*/
main, nav, header, footer, section, article, aside, dialog, figure, menu{
    display: block;
}
.text-center{
	text-align: center !important;
}
/*清除浮动*/
.clearfix:after{content:"";display:block;height:0;clear:both;}
.clearfix{zoom: 1;}
/**************************公共样式****************************/
.display-block{
	display: block;
}
.display-ib{
	display: inline-block;
}
.padding-10{
	padding: 10px;
}
.padding-20{
	padding: 20px;
}
.color-fff{
	color:#fff;
}
.color-333{
	color: #333;
}
.color-666{
	color:#666;
}
.color-999{
	color:#999;
}
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.margin-t-10{
	margin-top: 10px;
}
.mar-top-20,.margin-t-20{
	margin-top: 20px;
}
.margin-t-30{
	margin-top: 30px;
}
.margin-r-5{
	margin-right: 5px;
}
.mar-rt-20{
	margin-right: 20px;
}
.mar-bot-20{
	margin-bottom: 20px;
}
.mar-lf-20{
	margin-left: 20px;
}
.float_lf{
	float:left;
}
.float_rt{
	float:right;
}
.position-r{
	position: relative;
}
.txt-num1{
	overflow: hidden;
	-o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
    -webkit-box-orient: vertical;
}
.txt-num2{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.act_color{
	color:#00c7d3 !important;
}
.err_box{
	position: fixed;
	bottom:20%;
	left:0;
	right:0;
	z-index: 100000;
	margin: 0 auto;
	display: block;
	padding: 10px;
	width: 200px;
	border-radius: 5px;
	text-align: center;
	color:#fff;
	background-color: rgba(0,0,0,1);
}

.adv_nothing{
	width: 60%;
	margin: 40px auto;
}